/** @format */
.charDetails {
	margin-top: 2%;
	width: 600px;
	height: 70vh;
	margin-right: auto;
	margin-left: auto;
	border: 2px solid #3f51b5;
	object-fit: contain;
	align-items: flex-start;
	border-radius: 15px;
	background-color:rgb(12, 133, 209);
	display: flex;
	justify-content: center;
}
.details_container {

	object-fit: contain;
	margin-top: 4%;
	margin-bottom: 10%;
	margin-bottom: 4%;
	height: 110vh;
	padding:10px;
	width: 50%;
	justify-content: center;
	background-position-y: center;
	background-repeat: no-repeat;
	background-size: contain;
	
}
.picture_container img{
	width: 100%;
	height: 98%;
border-radius: 2px;

}

.picture_container {

	width: 50%;
	height:100%;

	border-radius: 20px;
	align-items: center;
	justify-content: center;
	padding: 10px;
}

.btn_editChar{
	
	margin-left: 60%;
	margin-top: 5px;
}