

.cards{
   
   margin: auto;
   object-fit: contain;
   display: flex;
   background-color: white;
   width: fit-content;
   padding: 40px;
   width: 60px;
   height: 60px;
   box-shadow: 0px 18px 53px 0px rgba(226, 184, 184, 0.3);
   border-radius: 20px;
   background-size: cover;
   background-position: center;
   align-items: center;

  
}
.btnCreate{
   bottom: 0%;

}

.charsDisplay{
   margin-top: 5%;
   margin-right: 10%;
   margin-left: 10% ;
   display: flex;
   justify-content: space-evenly;    
  background-size: cover;
     
}


.grid_container h3{
   margin: 10px;
   text-align: center;

    bottom: 0;
    color: black;
   justify-content: space-evenly;
}

