/** @format */

.container {
	display: flexbox;
	justify-content: space-evenly;
	margin-right: 25%;
	margin-left: 25%;
	margin-top: 2%;
}
.form {
	column-count: 2;
	column-width: auto;
	display: flexbox;
	column-gap: 30px;
}
.text_grid {
	display: flexbox;
	border: 2px solid white;
	margin-left: auto;
	margin-right: auto;
}
.text_container {
	justify-content: space-between;
	margin-left: auto;
	margin-right: auto;
	display: -ms-inline-flexbox;
}

.form label {
	font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
		"Lucida Sans", Arial, sans-serif;
	font-weight: 800;
	color:black;
}
