.header{
    display: flex;
    justify-content: space-around;
     z-index: 100;
     align-items: center;
        
        background-color:rgb(12, 133, 209);

}

.header_icon{
    object-fit: contain;
    height: 40px;
}
.header_logo{
    border-radius: 10px solid red;
}

